
SensorsEXPO_STM32/Beningo_RustLabs/Labs/00-Starters/LAB_2/svd2rustU5/hello_world/
SensorsEXPO_STM32/Beningo_RustLabs/Labs/01-Solutions/LAB_1/svd2rustU5/hello_world/
SensorsEXPO_STM32/Beningo_RustLabs/Labs/01-Solutions/LAB_2/svd2rustU5/blinky/
SensorsEXPO_STM32/Beningo_RustLabs/Labs/01-Solutions/LAB_2/svd2rustU5/hello_world/
SensorsEXPO_STM32/Beningo_RustLabs/Labs/01-Solutions/LAB_2/svd2rustU5/stm32u575_pac/
SensorsEXPO_STM32/LAB_2/svd2rustU5/blinky/target

SensorsEXPO_STM32/LAB_2/svd2rustU5/hello_world/
*.x
*.svd
